<div class="container container_padding">
  <h1>Ваша корзина</h1>
  <h2>Сумма</h2>
</div>

<div class="container itemInCart">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-4" style="max-width: 200px;">
      <img src="../../assets/img/img_product_disneyXs/Mickey.jpg" alt="">
    </div>
    <div class="col-xs-10 col-sm-6 col-lg-6">
        <div>
          <h3>Прогулочная коляска-"книжка" Easywalker Disney XS Mickey Ornament</h3>
          <div><button class="minus_btn"></button><input type="text"/><button class="plus_btn"></button></div>
        </div>
        <div>
          Цена 8850 грн.
        </div>
        <div>
          <h5>Краткое описание</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Laboriosam doloribus cum natus aliquam odit perferendis 
            reiciendis autem molestiae enim officiis.<a href="#">Подробнее</a></p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-lg-2">
      <button class='close_btn'></button>
      <div>8850 грн.</div>
    </div>
  </div>
  <hr>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-0 col-lg-3"></div>
    <div class="col-lg-3 d-flex">
      <img src="../../assets/img/img_cart/delivery.png" alt="">
      <p>Бесплатная доставка</p>
    </div>
    <div class="col-lg-3">
        <p>Всего: <span> 8850 </span> грн.</p>
      </div>
    <div class="col-lg-3">
      <button>Оформить заказ</button>
    </div>
  </div>
  
</div>




<!-- <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="submit_function()">
    <div class="wrapperFormGroupResponsive">
      <span style="color:#a94442" *ngIf="error">{{ error }}</span>
      <div class="form-group">
        <label>User Name or Email</label>
        <input [(ngModel)]="USER.name" type="text" class="form-control" placeholder="User Name" formControlName="UserName">
      </div>
    </div>
    <div class="wrapperFormGroupResponsive">
      <div class="form-group">
        <label>Password</label>
        <input [(ngModel)]="USER.sname" type="text" class="form-control" placeholder="type your password" formControlName="Password">
      </div>
    </div>
    <div>User Name: GlasswizAdmin</div>
    <div>Password: TestPass123!</div>
    <div class="form-group" style="text-align: center;">
      <button type="submit" class="btn bg-main-blue sign-in-btn" style="background:#a94442" [disabled]="loginForm.invalid">Sign in</button>
    </div>
  </form> -->