<div class='text-center' style='display: flex'>
    <table border="1">
      <tr><td>фото</td></tr>
      <tr><td>Название</td></tr>
      <tr><td>Тип</td></tr>
      <tr><td>Возраст ребенка</td></tr>
      <tr><td>Вес ребенка</td></tr>
      <tr><td>Ремни безопасности</td></tr>
      <tr><td>Съемные мягкие части</td></tr>
      <tr><td>Корзина для вещей</td></tr>
    </table>
    
    <table border="1" *ngFor='let inCompare of productsInCompare'>
      <tr><td>{{inCompare.img1}}</td></tr>
      <tr><td>{{inCompare.h1}}</td></tr>
      <tr><td>{{inCompare.type}}</td></tr>
      <tr><td>{{inCompare.babyAge}}</td></tr>
      <tr><td>{{inCompare.babyWeight}}</td></tr>
      <tr><td>{{inCompare.seatBelts}}</td></tr>
      <tr><td>{{inCompare.removableSoftParts}}</td></tr>
      <tr><td>{{inCompare.basketForThings}}</td></tr>
      <tr><td><button routerLink='/product/{{inCompare.id}}'>Перейти на страницу товара</button></td></tr>
      <tr><td><button (click)='deleteProduct(inCompare.id)'>Убрать из сравнения</button></td></tr>
      <!-- <tr><td><button class="btn_buy" (click)='addToCart()'></td></tr> -->
    </table>
    </div>